footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f3;
  padding-block: 3rem;
  @include lg {
    position: fixed;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
    .logo_container {
      max-width: 12rem;
      img {
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: contain;
      }
    }
    .social_links_wrapper {
      display: flex;
      gap: 0.5rem;
      .social_link {
        a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 2rem;
          height: 2rem;
          background-color: #eae9e9;
          color: #71797e;
          transition: color 500ms;
          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }
  }
  .middle {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
    border: 0.01rem solid rgba(112, 112, 112, 0.1);
    border-left: 0;
    border-right: 0;
    padding-block: 3rem;
    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 3rem;
    }
    @include lg {
      grid-template-columns: repeat(var(--footer-middle-divide-count), minmax(0, 1fr));
    }
    @include xl {
      gap: 5rem;
    }
    .item {
      color: #6c757d;
      &:nth-child(2) {
        @include md {
          order: 1;
        }
        @include lg {
          justify-self: center;
          order: 0;
        }
      }
      .title {
        color: #343a40;
        margin-bottom: 1rem;
      }
      .description {
        text-align: justify;
      }
      .links_wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        .link {
          display: inline-flex;
          align-items: center;
          gap: 0.5rem;
          .icon_container {
            flex-shrink: 0;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 100%;
            background-color: #eae9e9;
          }
          a {
            transition: color 500ms;
            &:hover {
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }
  .bottom {
    padding-top: 1.5rem;
    color: #6c757d;
    text-align: center;
    a {
      transition: color 500ms;
      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

.dark {
  footer {
    background-color: #202020;
    .top {
      .social_links_wrapper {
        .social_link {
          a {
            background-color: #2a2a2a;
            color: #d3d3d3;
            &:hover {
              color: var(--color-primary);
            }
          }
        }
      }
    }
    .middle {
      border-color: rgba(112, 112, 112, 0.1);
      .item {
        color: #a9a9a9;
        .title {
          color: #fff;
        }
        .links_wrapper {
          .link {
            .icon_container {
              background-color: #3a3a3a;
            }
          }
        }
      }
    }
    .bottom {
      color: #a9a9a9;
    }
  }
}

.footer_height_emulator {
  display: none;
  @include lg {
    display: block;
  }
}
