.product_card {
  &:hover {
    .image_wrapper {
      img {
        transform: translateY(-1.5rem);
      }
      .view {
        transform: translate(-50%, -115%);
      }
    }
  }
  .image_wrapper {
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: var(--color-gray-100);
    .special_badge {
      position: absolute;
      top: 1.125rem;
      left: 1.125rem;
      background-color: var(--color-white);
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
      z-index: 1;
    }
    .btn_container {
      position: absolute;
      top: 1.125rem;
      right: 1.125rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      z-index: 1;
    }
    .view {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      background-color: var(--color-black);
      height: auto;
      padding: 0.75rem 2rem;
      border: 0.3rem solid var(--color-white) !important;
      border-radius: 2rem;
      color: var(--color-white);
      font-size: 0.875rem;
      font-weight: 500;
      text-transform: uppercase;
      overflow: hidden;
      transition:
        background-color 500ms,
        transform 500ms linear 50ms;
      z-index: 1;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        height: 100%;
        transform: skew(15deg);
        z-index: -1;
        transition: width 500ms;
      }
      &::before {
        left: -10px;
        background-color: var(--color-primary);
      }
      &::after {
        right: -10px;
        background-color: var(--color-secondary);
      }
      &:hover {
        color: var(--color-white) !important;
        &::before,
        &::after {
          width: 61%;
        }
      }
    }
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      border-radius: 1.5rem;
      transition: transform 500ms;
    }
  }
  .content_wrapper {
    margin-top: 1.125rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .title {
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.4;
      text-transform: capitalize;
      @apply line-clamp-1;
    }
    .price {
      .special {
        font-weight: 500;
        margin-left: 0.5rem;
      }
    }
  }
}
