@import 'preloader';
@import 'banner_section';
@import 'product_card';
@import 'recommended_products_section';
@import 'recommended_product_card';
@import 'reviews_section';
@import 'product_view_section';
@import 'footer';
